[user]
	name = Mark Potts
	username = mark-a-potts
	email = Mark.Potts@noaa.gov
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = store
[push]
	default = current
